---
# - debug:
#     msg: "{{ item }}"
#   with_items:
#     - "{{ groups['ceph'] }}"

- name: configure hosts file
  lineinfile: path=/etc/hosts regexp='.*{{ item }}$' line="{{ hostvars[item].ansible_default_ipv4.address }} {{item}}" state=present
  when: hostvars[item].ansible_default_ipv4.address is defined
  with_items: "{{ groups['ceph'] }}"
